*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1890px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.doccure_header .doccure_logo .logo_wrap img{
    padding-top: 10px;
}
.doccure_header .navbar-nav {
    flex-direction: row;
}
.doccure_header ul>li{
    padding: 0 20px;
}
.doccure_header ul>li>a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
#menu_primary_menu li>a:hover{
    color: rgb(55, 135, 209);
}
.doccure_header .nav_item{
    display: flex;
}
.doccure_header .header_contact_detail p{
    margin: 0;
    margin-left: 10px;
}
.doccure_header .doccure_login .Login_signup{
    border-radius: 5px;
    background-color: rgb(252, 250, 249);
    padding: 10px 20px;
    margin-left: 15px;
    color: rgb(54, 144, 204);
    border-color: blue;
}
.doccure_header .doccure_login button:hover{
    color: #fff;
    background-color: rgb(89, 151, 221);
}
.menu_item {
    position: relative;
}

.menu_item .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

.menu_item:hover .subnav {
    display: block; 
}
.subnav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    font-family:  Roboto,sans-serif!important;;
}

.subnav a:hover {
    background-color: #f0f0f0;
}
/* Style main */

.index_main{
    width: 100%;
    margin: 0 auto;
    background: #e8f2f7;
    font-family: Roboto,sans-serif!important;
    margin-bottom: 20px;
    padding-bottom: 50px;
}
.ant-col-lg-12 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}
.ant-col-xs-11 {
    display: block;
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
}
.ant-col-lg-14 {
    display: block;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
}
.ant-row{
    display: flex;
    /* flex-flow: row wrap; */
}
.ant-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}
.ant-col-lg-10 {
    display: block;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
}

.button_xt{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: orange;
    border: #ffb54a;
    margin-left: 45%;
    margin-top:100px;
    color: #fff;
}
.button_xt:hover{
    background-color: #003553;
    transition: all 0.5s;
}
/* news */
.index_homecontainer .index_main .index_news{
    padding-top: 20px;
}
.index_news{
    width: 1200px;
    height: 625px;
    margin: 0 auto;
}
.index_news .style_title_news{
    font-family: Montserrat,sans-serif!important;
    text-align: center;
    font-weight: 700;
    font-size: 39px;
    line-height: 48px;
    color: #00b5f1;
    margin-bottom: 20px;
    padding-top:20px;
}
.index_news .style_cardleft .style_cardleftitem {
    padding: 14px;
    background: #fff;
    border-radius: 16px;
    transition: all .19s ease-in;
    height: 100%;
    cursor: pointer;
}
.index_news .style_cardleft .style_cardleftitem:hover{
    border: 1px solid #00b5f1;
}
.index_news .style_cardleft .style_cardleftitem .img_itemnews img{
    width: 100%;
    height: 279.41px;
}
.index_news .style_cardleft .style_cardleftitem .style_itemcard{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-top: 16px;
    font-family: Roboto,sans-serif!important;
}
.index_news .style_cardleft .style_cardleftitem .sty_tag{
    margin: 8px 0;
    color: #858585;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}
.index_news .style_cardleft .style_cardleftitem .style_description{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    font-family: Roboto,sans-serif!important;
}
.index_news .style_cardright .style_item1_right{
    padding: 14px;
    background: #fff;
    border-radius: 16px;
    height: 100%;
    transition: all .19s ease-in;
    cursor: pointer;
}
.index_news .style_cardright .style_item1_right:hover{
    border: 1px solid #00b5f1;
}
.index_news .style_cardright .style_item1_right .img_item img{
    width: 100%;
    height: 192.16px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%!important;
    position: unset!important;
    border-radius: 8px;
}
.index_news .style_cardright .style_item1_right .style_itemcard{
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    margin-top: 16px;
    font-family: Roboto,sans-serif!important;
}
.index_news .style_cardright .style_item1_right .sty_tag{
    margin: 8px 0;
    color: #858585;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}
/* ------- */
.container-slide{
    width: 1260px;
    margin: 0 auto;
}
.style_pc .style_title{
    display: flex;
    align-items: center;
    position: relative;
}
.style_pc .style_title .title_text h2{
    width: 170px;
    font-weight: 700;
    position: relative;
    color: #00b5f1;
}
.style_pc .style_title .title_line{
    background-color: #00b5f1;
    width: 100%;
    height: 2px;
    content: "";
    z-index: 1;
}
.card{
    border-radius: 25px;
    background-color: #fff;
    width: 300px;
    cursor: pointer; 
    margin-right: 15px;   
}
.card-image{
    position: relative;
    height: 250px;
    width: 300px;
    padding: 15px 15px 15px 15px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.card-content{
    padding: 10px 14px;
}
.card-content li>a{
    text-decoration: none;
    color: #858585;
}
.card-content li::marker{
    color: #ffb54a;
}
.card-content .style_title_info{
        margin-top: 8px;
        font-size: 20px;
        line-height: 23px;
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
}
.slide-content .card:hover{
    border: 2px solid #00b5f1;
}
.slide_content_new .style_content   {
    align-items: center;
    position: relative;
}
.slide_content_new .style_content .inline_tyt{
    background-color: #00b5f1;
    width: 100%;
    height: 2px;
    content: "";
    z-index: 1;
}
.slide_content_new .style_content .content_intro h2{
    width: 120px;
    color: #00b5f1;
    font-weight: 700;
}
.card_tyt{
    background-color: #fff;
    /* justify-content: center; */
    background-size: 350px;
    border-radius: 16px;
    cursor: pointer;
}
.card-image_tyt .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.card-content_tyt{
    padding: 0 14px;
}
.card-content_tyt li>a{
    text-decoration: none;
    color: #858585;
}
.card-img_tyt{
    border-radius: 16px;
}
.card-content_tyt li::marker{
    color: #ffb54a;
}
.card-content_tyt .style_title_info{
    margin-top: 8px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-content_tyt .title_content_tyt{
    color: #858585;
    font-size: 16px;
    margin-top: 8px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.slide-content_tyt .card_tyt:hover{
border: 1px solid #00b5f1;
box-shadow: 0 0 10px 5px rgb(0 0 0 / 3%);
}
.card-image_tyt{
    position: relative;
    box-sizing: border-box;
    height: 240px;
    width: 350px;
    /* padding: 15px 15px 15px 15px; */
}
.content_new_yhtt .content_intro_yhtt h2{
    color: #00b5f1;
    font-weight: 700;
    width: 300px;
}
.content_new_yhtt .inline_yhtt{
    background-color: #00b5f1;
    width: 100%;
    height: 2px;
}
.style_content_yhtt .image_content_yhtt .card_image_yhtt{
    height: 250px;
}
.style_content_yhtt .image_content_yhtt .card_image_yhtt img{
    width: 750px;
    height: 551px;
}
.style_content_yhtt .image_content_yhtt .card_content_yhtt{
    padding: 20px 22px;
    /* color: #fff; */
}
.style_content_yhtt .image_content_yhtt .style_title_info_yhtt{
    font-size: 31px;
    font-weight: 700; 
}
.style_content_yhtt .image_content_yhtt .title_content_yhtt{
    margin-top: 8px;
    margin-bottom: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
}
.conten_header{
    width: 500px;
}
.conten_header .style_info_right li>a{
    text-decoration: none;
    color: #858585;
}
.conten_header .style_info_right li::marker{
    color: #ffb54a;
}
.conten_header .style_info_right .title_text{
    font-size: 20px;
    font-weight: 700;
}
.conten_header .style_info_right{
    border-bottom:1px solid #00b5f1;
    cursor: pointer;
}
.conten_header .style_info_right:hover{
    background-color: #fff;
    transition: 0.3s;
    border-radius: 15px;
}
.conten_header .style_info_right .title_text2{
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    line-height: 18px;
    color: #858585;
}
/* footer */ 
.doccure-footer{
    width: 100%;
    height: 100%; 
    background-color: #fff; 
    justify-content: center;
}
.footer-content{
    padding-top: 10px;
}

.footer-system h2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-system .doccure-address-block{
    width: 90%;
    margin-bottom: 25px;
}

.footer-system .doccure-address-block a{
    color:#003553;
    text-decoration: none;
    font-size: 14px;
}
.footer-system .doccure-address-block ul>li{
    list-style: none;
}

.footer-system .doccure-address-block a:hover{
    text-decoration: underline;
}
.footer-system .doccure-address-block .doccure-address-title{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 13px 16px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }