*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.doccure_header .doccure_logo .logo_wrap img{
    padding-top: 10px;
}
.doccure_header .navbar-nav {
    flex-direction: row;
}
.doccure_header ul>li{
    padding: 0 20px;
}
.doccure_header ul>li>a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
#menu_primary_menu li>a:hover{
    color: rgb(55, 135, 209);
}
.doccure_header .nav_item{
    display: flex;
}
.doccure_header .header_contact_detail p{
    margin: 0;
    margin-left: 10px;
}
.doccure_header .style_user .user{
    border-radius: 50px;
    background-color: rgb(252, 250, 249);
    padding: 5px 5px;
    margin-left: 15px;
    color: rgb(54, 144, 204);
    border-color: rgb(54, 144, 204);;
}
.doccure_header .style_user button:hover{
    color: #fff;
    background-color: rgb(89, 151, 221);
}
.menu_item {
    position: relative;
}

.menu_item .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

.menu_item:hover .subnav {
    display: block; 
}
.subnav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    font-family:  Roboto,sans-serif!important;;
}

.subnav a:hover {
    background-color: #f0f0f0;
}
.style_user{
    position: relative;
}
.style_user .subnav{
    width: 250px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}
.style_user:hover .subnav {
    display: block; 
}
.style_user .subnav a{
    color: #00b5f1;
    font-size: 15px;
}
/* banner */
.banner-slide{
    width: 100%;
    background-position: 100%!important;
    height: 30vw!important;
    position: relative;
}

.banner-slide .banner-slide--bg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.banner-slide .slide-1{
    background-image: url('../img/img_bg_medical.png');
}
.banner-slide .style_title{
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
}
#doccure-banner .banner-slide .style_title .style_card{
    background-color: #fff;
    display: inline-block;
    position: relative;
    left: 0;
    margin: 25px 25px;
    padding: 35px;
    border-radius: 30px;
    border: 3px solid #fff;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: hsla(0,0%,100%,.6);
    box-shadow: 4px 8px 20px 0 hsla(199,9%,64%,.3);
    width: -moz-fit-content!important;
    width: fit-content!important;
    height: -moz-fit-content;
    height: fit-content;
    white-space: nowrap;
}
.banner-slide .style_title .style_card .style_content_title p{
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
}
.banner-slide .style_title .style_card .style_content_title h1{
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    margin-top: 6px;
    font-family: Montserrat,sans-serif!important;
    font-weight: 700;
    text-align: left;
    color: #00e0ff;
    margin-bottom: 16px;
}
.banner-slide .style_title .style_card .style_line_tittle{
    background: linear-gradient(83.63deg,#00b5f1 33.34%,#00e0ff 113.91%);
    height: 1px;
    width: 100%;
}
.banner-slide .style_title .style_card .style_text{
    padding-top: 16px;
    max-width: 500px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: .04em;
    text-align: left;
    position: relative;
}
.cl-brown{
    color: rgb(58, 178, 247);
}
.content-introduce .map {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.content-introduce .map p{
    margin: 0;
    padding: 0 10px;
}
.content-introduce .map a{
    text-decoration: none;
    color: black;
    padding: 0 10px 0 0;
    border-bottom: 2px solid brown;
}
.content-introduce .map a > i{
    padding: 4px;
}
.content-introduce .map a:hover{
    color: rgb(58, 148, 231);
}
.content-introduce .map a:hover > i{
    border-radius: 5px;
    border: 1px solid brown;

}
/* main */
.style_main{
    width: 100vw;
    background: #e8f2f7;
}
.content-introduce .map {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.content-introduce .map p{
    margin: 0;
    padding: 0 10px;
}
.content-introduce .map a{
    text-decoration: none;
    color: black;
    padding: 0 10px 0 0;
    border-bottom: 2px solid brown;
}
.content-introduce .map a > i{
    padding: 4px;
}
.content-introduce .map a:hover{
    color: rgb(58, 148, 231);
}
.content-introduce .map a:hover > i{
    border-radius: 5px;
    border: 1px solid brown;

}
.style_main .style-body{
    max-width: 980px;
    min-height: 25vh;
    padding-bottom: 54px;
    margin: 0 auto;
}
.style_main .style-body .style_card a{
    display: flex;
    text-decoration: none;
    width: 300px;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: .5s;
    transition: all .198s ease-in-out;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 12px;
    background: #fff;
    padding: 17.5px 15px;
    border: 1px solid transparent;
    box-shadow: 4px 8px 30px 0 rgba(177,196,218,.35);
}
.style_main .style-body .style_card a:hover{
    border: 1px solid #00b5f1;
    color: #00b5f1;
}
/* .style_main .style_content_card a{
    text-decoration: none;
    width: 50%;
} */
.style_main .style-body .style_card .img_ic img{
    height: 35px;
    width: 35px;
}
.style_main .style-body .style_card .text_1{
    margin-left: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #333;
}
/* footer */
.doccure-footer{
    width: 100%;
    height: 100%; 
    background-color: #fff; 
    justify-content: center;
}
.footer-content{
    padding-top: 10px;
}

.footer-system h2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-system .doccure-address-block{
    width: 90%;
    margin-bottom: 25px;
}

.footer-system .doccure-address-block a{
    color:#003553;
    text-decoration: none;
    font-size: 14px;
}
.footer-system .doccure-address-block ul>li{
    list-style: none;
}

.footer-system .doccure-address-block a:hover{
    text-decoration: underline;
}
.footer-system .doccure-address-block .doccure-address-title{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 13px 16px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }